//- div(class="container")
//- 	h1 loged in HOME
//- 	div(class="row")
//- 		div(class="col-md-2")
//- 			p following folloers
//- 		div(class="col-md-10")
//- 			div(class="row")
//- 				p tweet form
//- 			p tweets


div(class="container")
  div(class="row")
    div(class="col-md-7")
      div(class="well bs-component")
        form(class="form-horizontal")
          fieldset
            legend Create tweet
            div(class="form-group")
              label(for="username" class="col-lg-1 control-label") Tweet
              div(class="col-lg-10")
                textarea(class="form-control" rows = 3 ng-model="tweet.tweetContent")
            div(class="form-group")
              div(class="col-lg-10 col-lg-offset-1")
                button(type="submit" class="btn btn-primary" ng-click="create(tweet)") Tweet
                button(type="reset" class="btn btn-default") Reset
  //div(id="source-button" class="btn btn-primary btn-xs" style="display: none;")&lt; &gt;
  div(class="row")
    div(class="col-md-7")
      each tweet in tweets
        div(class="well well-lg") #{tweet.content}