doctype html
html(lang="en")
  head
    title= "page title from me "
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <script src="angular/app.js"></script>
  body(ng-app="TwitterApp", ng-controller="MainController")
    h1 Jade - node template engine

    block content

  footer "TwitterApp"
